[alias]
    l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
[user]
    email = di@omise.co
    name = di
[color]
    ui = true
[core]
    editor = /usr/local/bin/vim
[push]
    default = simple
[github]
    user = zdk
